{% extends 'base.html.twig' %}

{% block title %}Tous les articles{% endblock %}

{% block body %}
<h1>Tous les articles</h1>
{% for article in articles %}
<p><a href="article/{{article.id}}">{{article.title}}</a><p>

{% endfor %}

{% endblock %}
