{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<h1>{{article.title}}</h1>
<h2>Par {{article.author}}</h2>
<small>Publié le {{article.publishedAt|date('d/m/y') }}</small>
<p>{{article.content}}</p>

<p><a href="/"><button>Retour</button></a></p>
{% endblock %}
